<h1>Listing templates</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Subject</th>
      <th>Template type</th>
      <th>From</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  <% @templates.each do |template| %>
    <tr>
      <td><%= template.name %></td>
      <td><%= template.subject %></td>
      <td><%= template.template_type %></td>
      <td><%= template.from %></td>
      <td><%= template.user.name %></td>
      <td><%= link_to 'Show', template %></td>
      <td><%= link_to 'Edit', edit_template_path(template) %></td>
      <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Template', new_template_path %>
