<p id="notice"><%= notice %></p>
<div ng-controller="TemplateFormCtrl" ng-init="init(<%= @template.id %>)">
<h2><%= @template.name %></h2>
<p>
  <strong>From:</strong> <%= @template.from %><br />
  <strong>Subject:</strong> <%= @template.subject %>
</p>
<hr />
<p>
  <div ng-bind-html-unsafe="template.body | markdown"></div>
</p>
</div>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
